[Desktop Entry]
Type=Application
Name=Lanzar Cliente
Comment=Lanza el cliente del juego
Exec=bash -c '/home/sami/Documentos/lastday2/quiero-crear-un-prototipo-de-juego/quiero-crear-un-prototipo-de-juego/tools/lanzar_cliente.sh; read'
Icon=applications-games
Terminal=true
Categories=Game;
